.custom-bg:hover {
    background-color: #07447D;
    color: white;
}

.active-tab {
    color: #07447D;
    font-weight: 600;
}

.nav-item-hover {
    color: #07447D;
}

.logo {
    height: 80px;
}

@media only screen and (max-width: 600px) {
    .logo {
        height: 50px;
    } 
}