 @import url(https://fonts.googleapis.com/css?family=Montserrat);

 * {
     margin: 0;
     padding: 0;
 }

 body {
     height: 100%;
     position: relative;
     right: 0;
     font-family: montserrat, arial, verdana;
     display: flex;
     flex-direction: column;
     align-items: center;
     background:
         linear-gradient(60deg, #0CC4A3, #00A1F9);
     background-repeat: no-repeat;
 }

 .container-main {
     width: 100vw;
     height: 100vh;
     display: flex;
     flex-direction: column;
     justify-content: space-around;
     align-items: center;
 }

 #msform {
     display: block;
     width: 40%;
     margin-top: 50px;
     text-align: center;
     position: relative;
 }

 #msform fieldset {
     background: white;
     border: 0 none;
     border-radius: 3px;
     box-shadow: 0 0 15px 1px rgba(193, 193, 193, 0.4);
     padding: 20px 30px;
     box-sizing: border-box;
     width: 80%;
     margin: 0 10%;
     position: relative;
 }

 #msform fieldset:not(:first-of-type) {
     display: none;
 }

 /*inputs*/
 #msform input,
 #msform textarea {
     padding: 15px;
     border: 1px solid #ccc;
     border-radius: 3px;
     margin-bottom: 10px;
     width: 100%;
     box-sizing: border-box;
     font-family: montserrat;
     color: #2C3E50;
     font-size: 13px;
 }

 #msform .action-button {
     width: 100px;
     background: #07447D;
     font-weight: bold;
     color: white;
     border: 0 none;
     border-radius: 1px;
     cursor: pointer;
     padding: 10px;
     margin: 10px 5px;
     text-decoration: none;
     font-size: 14px;
 }

 button {
     width: 100px;
     background: #07447D;
     font-weight: bold;
     color: white;
     border: 0 none;
     border-radius: 1px;
     cursor: pointer;
     padding: 10px;
     margin: 10px 5px;
     text-decoration: none;
     font-size: 14px;
 }

 #msform .action-button:hover,
 #msform .action-button:focus {
     box-shadow: 0 0 0 2px white, 0 0 0 3px #07447D;
 }

 .fs-title {
     font-size: 15px;
     text-transform: uppercase;
     color: #2C3E50;
     margin-bottom: 10px;
 }

 .fs-subtitle {
     font-weight: normal;
     font-size: 13px;
     color: #666;
     margin-bottom: 20px;
 }

 #progressbar {
     margin-bottom: 30px;
     overflow: hidden;
     /*CSS counters to number the steps*/
     counter-reset: step;
 }

 #progressbar li {
     list-style-type: none;
     color: white;
     text-transform: uppercase;
     font-size: 9px;
     width: 33.33%;
     float: left;
     position: relative;
 }

 #progressbar li:before {
     content: counter(step);
     counter-increment: step;
     width: 20px;
     line-height: 20px;
     display: block;
     font-size: 10px;
     color: #333;
     background: white;
     border-radius: 3px;
     margin: 0 auto 5px auto;
 }

 #progressbar li:after {
     content: '';
     width: 100%;
     height: 2px;
     background: white;
     position: absolute;
     left: -50%;
     top: 9px;
     z-index: -1;

 }

 #progressbar li:first-child:after {
     content: none;
 }

 #progressbar li.active:before,
 #progressbar li.active:after {
     background: #07447D;
     color: white;
 }

 #progress {
     margin-top: 20px;
     width: 100%;
     height: 10px;
     background-color: #f0f0f0;
     position: relative;
     overflow: hidden;
     border-radius: 10px;
 }

 #progress::after {
     content: '';
     display: block;
     height: 10px;
     background-image: linear-gradient(60deg, #0CC4A3, #00A1F9);
     width: 0;
     animation: grow 3s forwards ease-in;
 }

 @keyframes grow {
     0% {
         width: 0;
     }

     100% {
         width: 100%;
     }
 }

 .tutorial {
     display: block;
     position: relative;
     bottom: 0;
     padding: 12px;
     display: flex;
     justify-content: center;
 }

 #phone {
     height: 400px;
     width: 60vw;
     overflow: hidden;
     background-size: contain;
     background-repeat: no-repeat;
     background-position: center;
     animation: photoArray 8s ease-in-out infinite;
 }

 .test{
    height: 400px;
    width: 300px;
    background-color: red;
 }
 @keyframes photoArray {
     0% {
         background-image: url('wp-content/uploads/assets/investwell-homepage.png');
     }

     5% {
         background-image: url('wp-content/uploads/assets/investwell-domainname.png');
     }

     35% {
         background-image: url('wp-content/uploads/assets/investwell-domainname.png');
     }

     40% {
         background-image: url('wp-content/uploads/assets/investwell-loginpage.png');

     }

     70% {
         background-image: url('wp-content/uploads/assets/investwell-loginpage.png');
     }

     75% {
         background-image: url('wp-content/uploads/assets/investwell-loginpage.png');

     }

     99% {
         background-image: url('wp-content/uploads/assets/investwell-homepage.png');

     }

     100% {
         background-image: url('wp-content/uploads/assets/investwell-homepage.png');

     }
 }

 @media only screen and (max-width: 600px) {
     #msform {
         width: 350px;
         margin: 50px;
         text-align: center;
         position: relative;
     }

     #phone {
        height: 300px;
     }
 }