.whatsapp_main {
      position: fixed;
      bottom: 91px;
      z-index: 10;
      height: 51px;
      right: -582px;
    }

    .whatsapp_container {
      position: relative;
      display: inline-block;
      /* container ko align karne ke liye */
    }

    .whatsapp_img {
      width: 14%;
      /* Desktop view ke liye width set kiya hai */
      position: relative;
      z-index: 2;
      /* Image ko front mein rakhne ke liye */
    }

    .whatsapp_effect {
      margin-left: 24px;
      border-radius: 50px;
      position: absolute;
      top: 0;
      left: 10;
      width: 43px;
      height: 100%;
      z-index: 1;
      /* Effect ko image ke peeche rakhne ke liye */
      animation: glowing 1300ms infinite;
    }

    @keyframes glowing {
      0% {
        box-shadow: 0 0 5px darkgreen;
      }

      50% {
        box-shadow: 0 0 50px darkgreen;
      }

      100% {
        box-shadow: 0 0 5px darkgreen;
      }
    }

    @media only screen and (max-width:600px) {
      .whatsapp_img {
        width: 14%;
        /* Mobile devices ke liye width */
      }
    }