* {
    --tdHeight: 50px;
}

.fd-menu {
    display: flex;
    justify-content: center;
    width: 100%;
}

.fd-menu button {
    height: 40px;
    width: 150px;
    margin: 12px;
    font-weight: 600;
    color: #379BD6;
    background-color: rgba(245, 245, 245, 0);
    border: solid 1px #379BD6;
}

.fd-menu button:hover {
    height: 40px;
    width: 150px;
    margin: 12px;
    font-weight: 600;
    color: #ffffff;
    background-color: #379BD6;
    border: solid 1px #379BD6;
}

.fd-table {
    height: 500px;
    margin: 24px;
    overflow-x: auto;
    display: flex;
    justify-content: center;
}

.inner-table-div {
    border-radius: 8px;
    height: calc((var(--tdHeight)) * 8);
    padding: 20px;
    box-shadow: 0 10px 15px rgb(230, 230, 230);
}

#fd-interest-rate-table {
    width: 100%;
    margin: 12px;
    padding: 12px;
    position: relative;
    left: 0;
    border-collapse: collapse;
    text-indent: 0;
    width: 1200px;
}

.grey-background {
    /* background-color: #eaeaea; */
}


tr>th,
tr>td {
    height: var(--tdHeight);
    border: none;
    border-bottom: 1px solid rgb(147, 147, 147);
    text-align: center;
    vertical-align: middle;
}

tr>th {
    text-align: center;
    font-weight: bold;
}

tr>td:first-child {
    text-align: left;
    min-width: 80px;
    max-width: 120px;
    font-weight: bold;
}

td>button {
    font-weight: bold;
    color: white;
    background-color: #379BD6;
}

td>a>div {
    background-color: #379BD6;
    color: white;
    font-weight: bold;
    padding: 2px;
}

.calc-container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inner-view {
    padding: 24px;
    display: flex;
    justify-content: center;
    gap: 24px;
    width: 80%;
}

.calculator {
    width: 50%;
    padding: 20px;
    border-radius: 5px;

}


.result-display {
    width: 50%;
}



label {
    display: block;
    margin-bottom: 5px;
}

input,
select,
button {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    background: #939393;
    border-radius: 5px;
    outline: invert;
    margin-top: 5px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: #379BD6;
    border-radius: 50%;
    cursor: pointer;
}

#calc-interest {
    background-color: #379BD6;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

#calc-interest:hover {
    opacity: 0.8;
}